.mapFormContainer {
  display: flex;
  .map {
    width: 50%;
    iframe {
      width: 100%;
    }
  }
}

.contactForm {
  width: calc(50% - 70px);
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 0 0 10px 5px;
  border: none;
  margin-bottom: 40px;
  color: #333;
  font-family: $bodyFont;
  &::placeholder{
    font-size: 0.8rem;
    color: $primary;
    opacity: 1;
    line-height: 1.2rem;
    text-transform: uppercase;
  }
  &:focus {
    border-bottom: 1px solid $primary;
  }
}

input {
  border-bottom: 1px solid #eee;
}

textarea {
  min-height: 130px;
  border-bottom: 1px solid #eee;
  border-top: none;
}

select {
  appearance: none;
  font-family: $bodyFont;
  padding: 0 0 10px 0;
  background-color: $solidWhite;
  border: none;
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}